<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="daffodil.international.ac.coopapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CoOpMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".AppProvider"
            android:authorities="daffodil.international.ac.coopapplication.provider"
            android:exported="false"/>

        <activity
            android:name=".SignUpAsActivity"
            android:parentActivityName=".CoOpMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.CoOpMainActivity"/>
        </activity>
        <activity
            android:name=".StudentSignUpActivity"
            android:parentActivityName=".SignUpAsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.SignUpAsActivity"/>
        </activity>
        <activity
            android:name=".UniversitySignUpActivity"
            android:parentActivityName=".SignUpAsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.SignUpAsActivity"/>
        </activity>
        <activity
            android:name=".EmployerSignUpActivity"
            android:parentActivityName=".SignUpAsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.SignUpAsActivity"/>
        </activity>
        <activity
            android:name=".SignUpFeedback"
            android:parentActivityName=".CoOpMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.CoOpMainActivity"/>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".CoOpMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.CoOpMainActivity"/>
        </activity>
        <activity
            android:name=".AdminHomeUniversityActivity"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddEditUniversityActivity"
            android:label="@string/title_activity_add_edit_university"
            android:parentActivityName=".AdminHomeUniversityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daffodil.international.ac.coopapplication.AdminHomeUniversityActivity"/>
        </activity>
    </application>

</manifest>